# Title of the Swagger documentation.
# This title will appear at the top of the generated API documentation.
SWAGGER_TITLE=sciDX REST API

# Description of the Swagger documentation.
# This description provides an overview or summary of what the API does.
SWAGGER_DESCRIPTION=API documentation

# Version of the API being documented.
# This version number helps users understand which version of the API they are interacting with.
SWAGGER_VERSION=0.1.0

# Toggle to control the visibility of specific routes in the API documentation.
# When set to "True", the POST /stream and GET /stream routes will be hidden.
# This is useful for configuring the API as a Point of Presence (POP) for NDP.
POP=False
