# URL of the Keycloak server.
# This is the base URL where your Keycloak instance is running.
KEYCLOAK_URL=http://localhost:8080

# A realm in Keycloak is a space where you manage objects such as users, roles, and clients.
REALM_NAME=myrealm

# Client ID registered in the specified realm.
# This is the identifier for the application that will be using Keycloak for authentication.
CLIENT_ID=client_id

# Client secret associated with the specified client ID.
# This secret is used by the client to authenticate with Keycloak. Keep it secure.
CLIENT_SECRET=secret

TEST_USERNAME=testing_name
TEST_PASSWORD=testing_password
