# URL of the CKAN instance where the datasets will be managed or retrieved.
# This is typically the base URL of your CKAN server.
CKAN_URL=http://localhost:5000/

# API Key for authenticating with CKAN.
# This key allows the API to perform actions like creating, updating, or deleting datasets.
# Make sure this key has the necessary permissions for the operations you intend to perform. Check the official CKAN documentation to generate a CKAN API Key
CKAN_API_KEY=example_api

# Global URL for CKAN, typically the same as CKAN_URL.
# This might be used in contexts where CKAN is accessed globally across multiple services or scripts.
CKAN_GLOBAL_URL=http://localhost:5000/
